
<div class="requests-transactions">
  <h2 class="requests-transactions__title">Requests Transactions</h2>

  <div class="requests-transactions__list">
    <table class="requests-transactions__table">
      <thead>
        <tr>
          <th>Transaction ID</th>
          <th>Member ID</th>
          <th>Member Name</th>
          <th>Book ID</th>
          <th>Book Title</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let request of requests">
          <td>{{ request.requestId }}</td>
          <td>{{ request.memberId }}</td>
          <td>{{ request.memberName }}</td>
          <td>{{ request.bookId }}</td>
          <td>{{ request.bookName }}</td>
          <td>{{ request.status }}</td>
          <td>
            <ng-container *ngIf="request.status === 'PENDING' || request.status === 'RETURN_PENDING'; else finalStatus">
              <ng-container *ngIf="request.actionTaken !== 'NO_AVAILABLE_BOOKS'; else unavailableMessage">
                <button
                  class="requests-transactions__btn accept"
                  (click)="acceptRequest(request.requestId, request.memberId, request.bookId)">
                  Accept
                </button>
                <button
                  class="requests-transactions__btn reject"
                  (click)="rejectRequest(request.requestId, request.memberId, request.bookId)">
                  Reject
                </button>
              </ng-container>
              <ng-template #unavailableMessage>
                <span class="status--unavailable">No available books</span>
              </ng-template>
            </ng-container>
          
            <ng-template #finalStatus>
              <span *ngIf="request.status === 'BORROWED' || request.status === 'RETURNED'" class="status--accepted">
                Accepted
              </span>
              <span *ngIf="request.status === 'BORROW_REJECTED' || request.status === 'RETURN_REJECTED'" class="status--rejected">
                Rejected
              </span>
            </ng-template>
          </td>
          
        </tr>
      </tbody>
    </table>
  </div>
</div>
