<div>
    <div class="header-bar">
      <div class="header-logo">
        <img src="Library_Logo.png" />
      </div>
      <div class="header-title">
        <h2>BookHub</h2>
      </div>
      <div class="header-buttons">
        <button>
          <a [routerLink]="['registration']" routerLinkActive="router-link-active">Register</a>
        </button>
        <button>
          <a [routerLink]="['login']" routerLinkActive="router-link-active">Login</a>
        </button>
      </div>
    </div>
  
    <div *ngIf="isBookLinkEnabled">
      <a [routerLink]="['/book']" routerLinkActive="router-link-active" class="book-link"></a>
    </div>
  </div>
  
  <router-outlet></router-outlet>
  