<nav class="navbar">
  <!-- Profile -->
  <div class="profile-container">
    <button (click)="toggleDropdown()" class="profile-button">
      <img src="Profile_Logo.png" class="profile-logo" />
    </button>
   <span style="font-size: 10px;display: flex;">{{role}}</span>
    <div [ngClass]="{'dropdown-menu': true, 'visible': dropdownVisible}">
      <div class="dropdown-content">

        <a routerLink="/member/profile">Profile</a>
        <br />

        <a href="#" (click)="logout()">Logout</a>
      </div>
    </div>
  </div>

  <!-- Logo -->
  <div class="library-logo">
    <img src="Library_Logo.png" />
    <span>BookHub</span>
  </div>

  <!-- Nav Links -->
  <ul class="nav-links">
    <li><a routerLink="/member/book-lists" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
    <li><a routerLink="/member/history" routerLinkActive="active">History</a></li>
    <li><a routerLink="/member/fines" routerLinkActive="active">Fines</a></li>
    <li><a routerLink="/member/notifications" routerLinkActive="active">Notifications</a></li>
  </ul>

  <!-- Search -->
  <div class="search-container" *ngIf="searchVisible">
    <input
      type="text"
      placeholder="Search books..."
      [(ngModel)]="searchTerm"
      (input)="filterBooks()"
    />
    <!-- <button class="search-btn" (click)="filterBooks()">🔍</button> -->
  </div>

  <!-- Profile -->
  <div class="profile-container">
    <button (click)="toggleDropdown()" class="profile-button">
      <img src="Profile_Logo.png" class="profile-logo" />
    </button>
    <div [ngClass]="{'dropdown-menu': true, 'visible': dropdownVisible}">
      <div class="dropdown-content">
        <a routerLink="/member/profile">Profile</a>
        <a href="#" (click)="logout()">Logout</a>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
