<h1>Borrowing History</h1>

<table class="table table-bordered table-striped">
  <thead class="table-dark">
    <tr>
      <th>Transaction ID</th>
      <th>Member ID</th>
      <th>Member name</th>
      <th>Book ID</th>
      <th>Borrow Date</th>
      <th>Return Date</th>
      <th>Status</th>
   

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let txn of borrowingHistory">
      <td>{{ txn.transactionId }}</td>
      <td>{{txn.memberId}}</td>
      <td>{{txn.memberName}}</td>
      <td>{{ txn.book?.bookId }}</td>
      <td>{{ txn.borrowDate }}</td>
      <td>{{ txn.returnDate }}</td>
      <td>{{ txn.status }}</td>
      
      
    </tr>
  </tbody>
</table>
