<div class="history-container">
  <h1>Fines</h1>

  <div class="table-wrapper" *ngIf="fines.length > 0; else noFines">
    <table>
      <thead>
        <tr>
          <th>Fine ID</th>
          <th>Member ID</th>
          <th>Book ID</th>
          <th>Amount</th>
          <th>Status</th>
          <th>Date</th>
          <th *ngIf="role === 'MEMBER'">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fine of fines">
          <td>{{ fine.fineId }}</td>
          <td>{{ fine.memberId }}</td>
          <td>{{ fine.bookId }}</td>
          <td>{{ fine.amount | currency:'INR':'symbol':'1.2-2' }}</td>
          <td>
            <span class="status" [ngClass]="fine.fineStatus.toLowerCase()">
              {{ fine.fineStatus }}
            </span>
          </td>
          <td>{{ fine.transactionDate }}</td>
          <td *ngIf="role === 'MEMBER'">
            <ng-container *ngIf="fine.fineStatus !== 'PAID'; else paidText">
              <button class="action-btn" (click)="payFine(fine.fineId)">Pay</button>
            </ng-container>
            <ng-template #paidText>
              <span style="color: green; font-weight: bold;">PAID</span>
            </ng-template>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #noFines>
    <p class="fines__empty">No fines found for this member.</p>
  </ng-template>
</div>
